@charset "UTF-8";

body{
	background-color: #039af4;
	font-family: Open Sans;
}

h1{
	color: white;
	font-family: 'Source Sans Pro'
	
	
}
#description {
	color: white;
	font-style: bold;
	position: absolute;
	top: 7%;
}

.mainbox{
	background-color: white;
	position: absolute;
	height: 80%;
	width: 80%;
	top: 15%;
	left: 8%;
	box-shadow: 4px 4px 2px 2px rgb(37, 34, 34);
	border-radius: 1.5%;
}

#typecontainer{
	position: absolute;
	top: 10%;
	left: 5%;
}

#buttonNext{
	position: relative;
	height: 150%;
	top: 100%;
	left: 95%;
	background-color: #ff9800;
	color: white;
}


