@charset "ISO-8859-1";
.loginmainbox{
	background-color: white;
	position: absolute;
	top: 17%;
	left: 15%;
	right: 50%;
	height: 70%;
	width: 25%;
	border-radius: 5%;
	box-shadow: 5px 5px 5px 5px #028bca;
}
.mailbox{
	border-style: solid;
	background-color: white;
	position: absolute;
	margin-top: 5px;
	left: 25%;
	right: 50%;
	height: 7%;
	width: 55%;
	border-radius: 5%;
	border-color: #FF9800;
}
.passwordbox{
	border-style: solid;
	background-color: white;
	position: absolute;
	margin-top: 100px;
	left: 25%;
	right: 50%;
	height: 7%;
	width: 55%;
	border-radius: 5%;
	border-color: #FF9800;
}
.loginbuttonbox{
	border-style: solid;
	background-color: #FF9800;
	position: absolute;
	margin-top: 170px;
	left: 40%;
	right: 50%;
	height: 6%;
	width: 20%;
	border-radius: 10%;
	border-color: #FF9800;
}
img{
	height: 100%;
	width: 15%;
	float: left;
	margin-left: 5px;
}
title{
    font-weight: bold;
    margin: 0px;
    font-family: 'Source Sans Pro';
}
input{
	border-style: hidden;
}
body{
	background-color: #03A9F4;
	color: #FF9800;
	font-family: open sans;
	text-align: center;
	font-weight: bold;
}
p{
	margin-top: 60px;
	margin-bottom: 60px;
}
.button{
	background-color: #FF9800;
}
.flex-container{
display: flex;
flex-direction: row;	
}
.verticalline{
	border-left: 1px solid white;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 17%;
  bottom: 70px;
}
.signupmainbox{
	background-color: white;
	position: absolute;
	top: 17%;
	left: 60%;
	right: 15%;
	height: 70%;
	width: 25%;
	border-radius: 5%;
	box-shadow: 5px 5px 5px 5px #028bca;
}
.username{
	border-style: solid;
	background-color: white;
	position: absolute;
	margin-top: 5px;
	left: 20%;
	right: 15%;
	height: 7%;
	width: 55%;
	border-radius: 5%;
	border-color: #FF9800;
}
.signupmail{
	border-style: solid;
	background-color: white;
	position: absolute;
	margin-top: 60px;
	left: 20%;
	right: 15%;
	height: 7%;
	width: 55%;
	border-radius: 5%;
	border-color: #FF9800;
}
.signuppassword{
	border-style: solid;
	background-color: white;
	position: absolute;
	margin-top: 115px;
	left: 20%;
	right: 15%;
	height: 7%;
	width: 55%;
	border-radius: 5%;
	border-color: #FF9800;
}
.signupconfirmpassword{
	border-style: solid;
	background-color: white;
	position: absolute;
	margin-top: 165px;
	left: 20%;
	right: 15%;
	height: 7%;
	width: 55%;
	border-radius: 5%;
	border-color: #FF9800;
}